<a href="https://colab.research.google.com/github/vilsonrodrigues/WebScraping/blob/master/webscraping_guia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libs**

In [0]:
import requests
from bs4 import BeautifulSoup #extrai os dados do html
import pandas as pd

###Realizando requisição de 1 tabela

In [0]:
req = requests.get("https://www.basketball-reference.com/leagues/NBA_2018_totals.html")

Se requisição bem sucessidada

In [0]:
if req.status_code == 200:
    print("Sucess")
    content = req.content

Sucess

Utilizo BeatifulSoup para extrair a tabela

In [0]:
soup = BeautifulSoup(content, "html.parser")
table = soup.find(name="table")#arquivo esta dentro de uma table, usa o find pra procurar a table

Converto pra String pois o obj é do tipo BS

In [0]:
table_str = str(table)

Transformo em DF lendo como de uma estrutura HTML. Acesso a posição 0 pra obter o dataframe, pois retornaria uma lista

In [0]:
df = pd.read_html(table_str)[0]

E aqui está, uma raspagem dos dados de jogadores da NBA

In [0]:
df

      Rk         Player Pos Age   Tm   G  GS  ...  TRB  AST STL BLK  TOV   PF   PTS
0      1   Álex Abrines  SG  24  OKC  75   8  ...  114   28  38   8   25  124   353
1      2     Quincy Acy  PF  27  BRK  70   8  ...  257   57  33  29   60  149   411
2      3   Steven Adams   C  24  OKC  76  76  ...  685   88  92  78  128  215  1056
3      4    Bam Adebayo   C  20  MIA  69  19  ...  381  101  32  41   66  138   477
4      5  Arron Afflalo  SG  32  ORL  53   3  ...   66   30   4   9   21   56   179
..   ...            ...  ..  ..  ...  ..  ..  ...  ...  ...  ..  ..  ...  ...   ...
685  537   Tyler Zeller   C  28  BRK  42  33  ...  194   28   8  21   35   78   300
686  537   Tyler Zeller   C  28  MIL  24   1  ...  111   19   7  14   12   48   141
687  538    Paul Zipser  SF  23  CHI  54  12  ...  131   46  20  15   43   86   218
688  539     Ante Žižić   C  21  CLE  32   2  ...   60    5   2  13   11   30   119
689  540    Ivica Zubac   C  20  LAL  43   0  ...  123   25   8  15   26   47   161

[690 rows x 30 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 30 columns):
Rk        690 non-null object
Player    690 non-null object
Pos       690 non-null object
Age       690 non-null object
Tm        690 non-null object
G         690 non-null object
GS        690 non-null object
MP        690 non-null object
FG        690 non-null object
FGA       690 non-null object
FG%       686 non-null object
3P        690 non-null object
3PA       690 non-null object
3P%       625 non-null object
2P        690 non-null object
2PA       690 non-null object
2P%       672 non-null object
eFG%      686 non-null object
FT        690 non-null object
FTA       690 non-null object
FT%       632 non-null object
ORB       690 non-null object
DRB       690 non-null object
TRB       690 non-null object
AST       690 non-null object
STL       690 non-null object
BLK       690 non-null object
TOV       690 non-null object
PF        690 non-null object
PTS       690 non-null object
dtypes: object(30)
memory usage: 161.8+ KB

###Requisição de mais +1 tabela

Nesse caso eu tenho duas opções:

buscar tudo e depois verificar a posição da tabela com o **find_all**; ou

usar o método **attrs** para buscar um elemento obrigatório

In [0]:
req = requests.get("https://www.basketball-reference.com/leagues/NBA_2018_standings.html")
if req.status_code == 200:
    content = req.content

In [0]:
soup = BeautifulSoup(content, "html.parser")
table = soup.find(name="table", attrs = {"id":"confs_standings_W"})

In [0]:
table_str = str(table)

In [0]:
data = pd.read_html(table_str)[0]

In [0]:
data

             Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0          Houston Rockets* (1)  65  17  0.793     —  112.4  103.9  8.21
1    Golden State Warriors* (2)  58  24  0.707   7.0  113.5  107.5  5.79
2   Portland Trail Blazers* (3)  49  33  0.598  16.0  105.6  103.0  2.60
3    Oklahoma City Thunder* (4)  48  34  0.585  17.0  107.9  104.4  3.42
4                Utah Jazz* (5)  48  34  0.585  17.0  104.1   99.8  4.47
5     New Orleans Pelicans* (6)  48  34  0.585  17.0  111.7  110.4  1.48
6        San Antonio Spurs* (7)  47  35  0.573  18.0  102.7   99.8  2.89
7   Minnesota Timberwolves* (8)  47  35  0.573  18.0  109.5  107.3  2.35
8            Denver Nuggets (9)  46  36  0.561  19.0  110.0  108.5  1.57
9     Los Angeles Clippers (10)  42  40  0.512  23.0  109.0  109.0  0.15
10      Los Angeles Lakers (11)  35  47  0.427  30.0  108.1  109.6 -1.44
11        Sacramento Kings (12)  27  55  0.329  38.0   98.8  105.8 -6.60
12        Dallas Mavericks (13)  24  58  0.293  41.0  102.3  105.4 -2.70
13       Memphis Grizzlies (14)  22  60  0.268  43.0   99.3  105.5 -5.81
14            Phoenix Suns (15)  21  61  0.256  44.0  103.9  113.3 -8.80

###Projeto - Tirar Número de Leitos por Município do DataSUS

In [0]:
req = requests.get("http://tabnet.datasus.gov.br/cgi/tabcgi.exe?cnes/cnv/leiintbr.def")
if req.status_code == 200:
    content = req.content

In [0]:
soup = BeautifulSoup(content, "html.parser")

In [0]:
table = soup.find(name="table",attrs = {"class":"tabdados"})

In [0]:
table_str = str(table)

In [0]:
data = pd.read_html(table_str)[0]

In [0]:
data

###IBGE

In [0]:
req = requests.get("https://www.ibge.gov.br/estatisticas/sociais/populacao/9109-projecao-da-populacao.html?=&t=o-que-e")

In [0]:
if req.status_code == 200:
    content = req.content

In [0]:
soup = BeautifulSoup(content, "html.parser")

In [0]:
print(soup.prettify())

###PDF

Usando urllib

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [0]:
html = urlopen("http://www.elivros-gratis.net/livros-gratis-william-shakespeare.asp")

In [0]:
bsObj = BeautifulSoup(html.read())
print(bsObj.h1)
#bsObj.findAll("table")[4].findAll("tr")[2].find("td").findAll("div")[1].find("a")
#images = bsObj.findAll("img", {"src":re.compile("\.\.\/img\/gifts/img.*\.jpg")})

In [0]:
import pdfquery
from lxml import etree


PDF_FILE = 'C:\\TEMP\\2015-cg-insulin-pumps.pdf'

pdf = pdfquery.PDFQuery(PDF_FILE)
pdf.load()

###Lendo Arquivos de texto

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
#import webbrowser

In [0]:
textPage = urlopen("http://www.pythonscraping.com/pages/warandpeace/chapter1.txt")
print(textPage.read())

In [0]:
textPage = urlopen("http://www.pythonscraping.com/pages/warandpeace/chapter1-ru.txt")
print(str(textPage.read(), "utf-8"))

In [0]:
pdfFile = urlopen("http://www.adcon.rn.gov.br/ACERVO/sesap/DOC/DOC000000000225851.PDF")

In [0]:
pdfFile.read()

In [0]:
pip install requests2

In [0]:
import requests2

In [0]:
pip install selenium

In [0]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

url =  "http://www.saude.rn.gov.br/Conteudo.asp?TRAN=ITEM&TARG=223456&ACT=&PAGE=&PARM=&LBL=MAT%C9RIA"


option = Options()
option.headless = True
driver = webdriver.Chrome()

driver.get(url)

driver.quit()

###Urllib3

In [0]:
import pandas as pd
import urllib3
from bs4 import BeautifulSoup
#import json
import gzip
import os

In [0]:
http = urllib3.PoolManager()

In [0]:
url = "https://data.brasil.io/dataset/covid19/caso.csv.gz"

In [0]:
req = http.request("GET",url)
print(req.status)

In [0]:
data = req.read()

In [0]:
output = open(data,'wb')

In [0]:
soup = BeautifulSoup(req.data, "html.parser")

In [0]:
soup

In [0]:
http = urllib3.PoolManager()

In [0]:
data = {"L":"Município",
            "C":"--Não-Ativa--",
            "I":"Quantidade_existente",
            "A":"lrbt2002.dbf",#mes
            "F":"table"
             }

In [0]:
#data = {"L":"Município","C":"--Não-Ativa--","I":"Quantidade_existente","A":"lrbt2002.dbf"}

headers={"Content-Type":"application/json"}

url = "http://tabnet.datasus.gov.br/cgi/tabcgi.exe?cnes/cnv/leiintbr.def"

http = urllib3.PoolManager()
req = http.request("POST",url,fields=data,headers=headers)

print(req.status)

200

In [0]:
req.headers

HTTPHeaderDict({'Content-Type': 'text/html', 'Server': 'Microsoft-IIS/8.5', 'Date': 'Fri, 27 Mar 2020 21:16:40 GMT', 'Connection': 'close', 'Content-Length': '1760'})

In [0]:
print(help(req))

In [0]:
soup = BeautifulSoup(req.data, "html.parser")

In [0]:
soup

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="pt-BR"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>TabNet Win32 3.0: CNES - Recursos Físicos - Hospitalar - Leitos de internação - Brasil</title>
<link href="/TABNET/tabnet2.css" rel="stylesheet" type="text/css"/><!-- com a opção JCSS -->
<link href="/tabnet/tabnetp2.css" media="print" rel="stylesheet" type="text/css"/><!-- com a opção JCSSP -->
</head>
<body>
<div class="todalargura" name="governo">
<div cellpadding="0" cellspacing="0" class="testeira">
<div class="Escondido" style="background-color: #ffcc00;">
<div>
<a href="http://www.saude.gov.br" target="_blank">
<img alt="Ministério da Saúde" height="21" id="img1" src="http://www.datasus.gov.br/gifs/principal_r1_c1_res.gif"/>
</a>
</div>
</div>
<div cellpadding="0" cellspacing="0" class="testeira">
<div class="info_saude">
<a alt="Informações de Saúde" href="/tabnet/tabnet.htm" title="Informações de Saúde">Informações de Saúde</a>
</div>
<div class="marca_tabnet">
<p>DATASUS<span>  Tecnologia da Informação a Serviço do SUS<a alt="MS/SE/Datasus" href="http://www.datasus.gov.br" title="MS/SE/Datasus"></a></span></p>
</div>
<div class="ajuda">
<a href="/tabnet/tabdescr.htm">Ajuda</a>
</div>
<div class="notific">
<a href="cnes/\NT_RecursosFísicos.htm">Notas Técnicas</a></div></div></div></div></body></html>
 <div class="datasus">
<p>DATASUS</p>
</div>

: Tabela de conversao nao encontrada

In [0]:
pag = soup.find(class_="tabdados")

In [0]:
pag

In [0]:
pag_str = str(pag)

In [0]:
pag_str

'None'

In [0]:
data = pd.read_html(pag_str)

In [0]:
data

[    0                                           1
 0 NaN  Veja a versão do Tab para Windows (TABWIN)]

In [0]:
url2 = "www.google.com"
headers={"Content-Type":"application/json"}
data2={"q":"python"}
http2 = urllib3.PoolManager()
req2 = http2.request("POST",url2,fields=data2,headers=headers)

In [0]:
soup = BeautifulSoup(req2.data, "html.parser")

In [0]:
soup

<!DOCTYPE html>

<html lang="en">
<meta charset="utf-8"/>
<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport"/>
<title>Error 405 (Method Not Allowed)!!1</title>
<style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
  </style>
<a href="//www.google.com/"><span aria-label="Google" id="logo"></span></a>
<p><b>405.</b> <ins>That’s an error.</ins>
<p>The request method <code>POST</code> is inappropriate for the URL <code>/</code>.  <ins>That’s all we know.</ins>
</p></p></html>

In [0]:
# imported the requests library 
import requests 
image_url = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png"

# URL of the image to be downloaded is defined as image_url 
r = requests.get(image_url) # create HTTP response object 

# send a HTTP request to the server and save 
# the HTTP response in a response object called r 
with open("python_logo.png",'wb') as f: 

	# Saving received content as a png file in 
	# binary format 

	# write the contents of the response (r.content) 
	# to a new file in binary mode. 
	f.write(r.content)

###Download Zip archive

In [19]:
import urllib3

#request
http = urllib3.PoolManager()
url = "https://data.brasil.io/dataset/covid19/caso.csv.gz"
req = http.request("GET",url)

#download archive 
#with open("cases_brazil.gz","wb") as f: 
	  #f.write(req.data) 
#f.close()

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [0]:
with gzip.open("cases_brazil.gz", 'rb') as f:
    data = f.read()