<a href="https://colab.research.google.com/github/vilsonrodrigues/WebScraping/blob/master/webscraping_guia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libs**

In [0]:
import requests
from bs4 import BeautifulSoup #extrai os dados do html
import pandas as pd

###Realizando requisição de 1 tabela

In [0]:
req = requests.get("https://www.basketball-reference.com/leagues/NBA_2018_totals.html")

Se requisição bem sucessidada

In [5]:
if req.status_code == 200:
    print("Sucess")
    content = req.content

Sucess

Utilizo BeatifulSoup para extrair a tabela

In [0]:
soup = BeautifulSoup(content, "html.parser")
table = soup.find(name="table")#arquivo esta dentro de uma table, usa o find pra procurar a table

Converto pra String pois o obj é do tipo BS

In [0]:
table_str = str(table)

Transformo em DF lendo como de uma estrutura HTML. Acesso a posição 0 pra obter o dataframe, pois retornaria uma lista

In [0]:
df = pd.read_html(table_str)[0]

E aqui está, uma raspagem dos dados de jogadores da NBA

In [13]:
df

      Rk         Player Pos Age   Tm   G  GS  ...  TRB  AST STL BLK  TOV   PF   PTS
0      1   Álex Abrines  SG  24  OKC  75   8  ...  114   28  38   8   25  124   353
1      2     Quincy Acy  PF  27  BRK  70   8  ...  257   57  33  29   60  149   411
2      3   Steven Adams   C  24  OKC  76  76  ...  685   88  92  78  128  215  1056
3      4    Bam Adebayo   C  20  MIA  69  19  ...  381  101  32  41   66  138   477
4      5  Arron Afflalo  SG  32  ORL  53   3  ...   66   30   4   9   21   56   179
..   ...            ...  ..  ..  ...  ..  ..  ...  ...  ...  ..  ..  ...  ...   ...
685  537   Tyler Zeller   C  28  BRK  42  33  ...  194   28   8  21   35   78   300
686  537   Tyler Zeller   C  28  MIL  24   1  ...  111   19   7  14   12   48   141
687  538    Paul Zipser  SF  23  CHI  54  12  ...  131   46  20  15   43   86   218
688  539     Ante Žižić   C  21  CLE  32   2  ...   60    5   2  13   11   30   119
689  540    Ivica Zubac   C  20  LAL  43   0  ...  123   25   8  15   26   47   161

[690 rows x 30 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 30 columns):
Rk        690 non-null object
Player    690 non-null object
Pos       690 non-null object
Age       690 non-null object
Tm        690 non-null object
G         690 non-null object
GS        690 non-null object
MP        690 non-null object
FG        690 non-null object
FGA       690 non-null object
FG%       686 non-null object
3P        690 non-null object
3PA       690 non-null object
3P%       625 non-null object
2P        690 non-null object
2PA       690 non-null object
2P%       672 non-null object
eFG%      686 non-null object
FT        690 non-null object
FTA       690 non-null object
FT%       632 non-null object
ORB       690 non-null object
DRB       690 non-null object
TRB       690 non-null object
AST       690 non-null object
STL       690 non-null object
BLK       690 non-null object
TOV       690 non-null object
PF        690 non-null object
PTS       690 non-null object
dtypes: object(30)
memory usage: 161.8+ KB

###Requisição de mais +1 tabela

Nesse caso eu tenho duas opções:

buscar tudo e depois verificar a posição da tabela com o **find_all**; ou

usar o método **attrs** para buscar um elemento obrigatório

In [0]:
req = requests.get("https://www.basketball-reference.com/leagues/NBA_2018_standings.html")
if req.status_code == 200:
    content = req.content

In [0]:
soup = BeautifulSoup(content, "html.parser")
table = soup.find(name="table", attrs = {"id":"confs_standings_W"})

In [0]:
table_str = str(table)

In [0]:
data = pd.read_html(table_str)[0]

In [13]:
data

             Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0          Houston Rockets* (1)  65  17  0.793     —  112.4  103.9  8.21
1    Golden State Warriors* (2)  58  24  0.707   7.0  113.5  107.5  5.79
2   Portland Trail Blazers* (3)  49  33  0.598  16.0  105.6  103.0  2.60
3    Oklahoma City Thunder* (4)  48  34  0.585  17.0  107.9  104.4  3.42
4                Utah Jazz* (5)  48  34  0.585  17.0  104.1   99.8  4.47
5     New Orleans Pelicans* (6)  48  34  0.585  17.0  111.7  110.4  1.48
6        San Antonio Spurs* (7)  47  35  0.573  18.0  102.7   99.8  2.89
7   Minnesota Timberwolves* (8)  47  35  0.573  18.0  109.5  107.3  2.35
8            Denver Nuggets (9)  46  36  0.561  19.0  110.0  108.5  1.57
9     Los Angeles Clippers (10)  42  40  0.512  23.0  109.0  109.0  0.15
10      Los Angeles Lakers (11)  35  47  0.427  30.0  108.1  109.6 -1.44
11        Sacramento Kings (12)  27  55  0.329  38.0   98.8  105.8 -6.60
12        Dallas Mavericks (13)  24  58  0.293  41.0  102.3  105.4 -2.70
13       Memphis Grizzlies (14)  22  60  0.268  43.0   99.3  105.5 -5.81
14            Phoenix Suns (15)  21  61  0.256  44.0  103.9  113.3 -8.80

###Projeto - Tirar Número de Leitos por Município do DataSUS

In [0]:
req = requests.get("http://tabnet.datasus.gov.br/cgi/tabcgi.exe?cnes/cnv/leiintbr.def")
if req.status_code == 200:
    content = req.content

In [0]:
soup = BeautifulSoup(content, "html.parser")

In [0]:
table = soup.find(name="table",attrs = {"class":"tabdados"})

In [0]:
table_str = str(table)

In [0]:
data = pd.read_html(table_str)[0]

In [0]:
data